version: "3.9"

services:
  backend:
    build: ./server       
    container_name: django_backend
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
    depends_on:
      - db

  frontend:
    build: ./client       
    container_name: react_frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://backend:8000

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
